.page-header {
	background: #ffffff;
	border: 0.063rem dotted #5394A8;
	border-bottom: 0.063rem solid #5394A8;
	line-height: 1.8rem;
	margin-top: 1.125rem;
	padding: 1.125rem;

	.page-title {
		text-align: center;
		margin: 0 0 1rem 0;
		padding: 0;
	}

	.archive-description {
		text-align: center;
	}
}
