.site-main {

	.loop {
		.grid-items {
			padding: 0;

			.post {
				line-height: 1.8rem;
				margin-top: 1.125rem;
				padding: 1.125rem;

				&:first-child {
					margin-top: 1.125rem;
				}
			}
		}
	}

	.page,
	.post {
		line-height: 1.8rem;
		margin-top: 1.125rem;
		padding: 1.125rem;

		&:first-child {
			margin-top: 0;
		}

		.entry-header {

			.entry-title {
				margin-top: 0;
				margin-bottom: 1rem;
				padding: 0;

				a {
					color: #000000;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
