.site-main {

	.loop {
		.grid-items {
			padding: 0;

			.post {
				line-height: 1.8rem;
				margin-top: 1.125rem;
				padding: 1.125rem;

				&:first-child {
					margin-top: 1.125rem;
				}
			}
		}
	}

	.page,
	.post {
		line-height: 1.8rem;
		margin-top: 1.125rem;
		padding: 1.125rem;

		&:first-child {
			margin-top: 0;
		}

		.entry-header {
			text-align: center;

			.entry-title {
				margin-top: 0;
				margin-bottom: 1rem;
				padding: 0;

				a {
					color: #000000;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		.post-thumbnail {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			display: block;
			margin: 1.125rem 0;
			text-align: center;
		}

		.entry-content {

			.entry__more-link {
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: 2px;
			}
		}
	}
}
