body {
	background: url( '../images/gray-cross.png');
	background-attachment: scroll;
	background-position: top left;
	background-repeat: repeat;
	font-family: font-family( primary );
	font-size: 1.125rem;
}
